
@{
    ViewBag.Title = "RemoveUsersFromProjects";
}

<h2>RemoveUsersFromProjects</h2>
@using (Html.BeginForm())
{
    @Html.DropDownList("userId", "Select User")
    @Html.DropDownList("projectId", "Select Project")
    <input type="submit" value=" Remove from project" />
}

